name: 'publish'

on:
  release:
    types: [published]

jobs:
  publish-tauri:
    permissions:
      contents: write
    strategy:
        fail-fast: false
        matrix:
          include:
            - platform: 'windows-latest'
              args: ''
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: install frontend dependencies
        run: npm install

      - name: Inject GitHub Release Version into Cargo.toml
        shell: bash
        run: |
          VERSION=${GITHUB_EVENT_RELEASE_TAG_NAME}
          sed -i "s/^version = .*/version = \"${VERSION#v}\"/" Cargo.toml
        env:
          GITHUB_EVENT_RELEASE_TAG_NAME: ${{ github.event.release.tag_name }}
          
      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY }}
        with:
          tagName: ${{ github.event.release.tag_name }}
          args: ${{ matrix.args }}